{% extends "base.html" %}

{% block content %}
<div class="row justify-content">
    <div class="list-group">
        <a href="{{ url_for('admin.settings') }}" class="list-group-item list-group-item-action">Настройки</a>
        <a href="{{ url_for('admin.queries') }}" class="list-group-item list-group-item-action">Запросы</a>
        <a href="{{ url_for('admin.posts') }}" class="list-group-item list-group-item-action">Посты</a>
        <a href="{{ url_for('admin.comments') }}" class="list-group-item list-group-item-action">Комментарии</a>
    </div>
</div>
{% endblock %}